.container {
    padding: 10px;
    max-width: 400px;
    width: calc(100% - 15px * 2);
}
.authForm {
    display: flex;
    flex-direction: column;
   
}

.authBtn {
    margin-top: 15px;
    margin-right: 10px;
}
